{% extends "LoginApp/Base.html" %}
{% block content %}

<h4><font color="#00ccff"><label>101866 Aniket Bhalshankar  </label></font></h4>
<h4><font color="#00ccff"><label>101867   Rahul Khambe  </label></font></h4>
<h4><font color="#00ccff"><label>101868   Vedesh Nadar  </label></font></h4>
<h4><font color="#00ccff"><label>101869   Shawn Pereira  </label></font></h4>
<h4><font color="#00ccff"><label>101775   Joel Thomas </label></font></h4></center>
<center><h4><font color="red"><label>OR <i>refer link</i></label></font></h4></center>
<h4><a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p</a></h4>
{% endblock content %}
